.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* App header styles moved to components/AppHeader/styles.css */

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.drag-container-box{
  display:flex
}
.drag-container-box-left{
  flex:1
}
.drag-container-box-right{
  flex:1;
  display: flex;
  justify-content: flex-end;
}
